<div id="logo"></div>
		
		
		
		
		
		<div class="container">
			<div id="results" class="hero-unit hero-unit-style">
				<h1 id="title" class="hero-text">
					<br>Results</br>
				</h1>
				<img src="logo.jpg"/>
				
		<div id="search_input">
    		<input type="text" placeholder="Enter a search term" id="term" />
    		</br>
    		</br>
    		<button id="search_button" > Go! </button>
    	</div>				
				
					<div>
					<ul>
						<li>Result 1</li>
						<li>Result 2</li>
						<li>Result 3</li>
						<li>Result 4</li>
						<li>Result 5</li>
						<li>Result 6</li>
						<li>Result 7</li>
						<li>Result 8</li>
						<li>Result 9</li>
						<li>Result 10</li>
					</ul>
    				</div>
    				
    				
 							<div id="tweets">
      						</div>
      					
      					
      				<div id = "help_info"> 
      					<h1 id= "help_head">Help</h1>
      					<br>
      					<br>
      					<p >Help info</p>
      				</div>
      				<div id = "about_info">
      					<h1 id= "about_head">About</h1>
      					<br>
      					<br>
      					<p>About info will go here
      					Project 2<br>
      					Semmy Purewal<br>
      					CSCI 344<br>
      					</p>
      				</div>
      				<div id="search_count_div">
      					<p id="search_count"></p>
      				</div>
      				
   
      	
			</div>
		</div>

			<button id="help_return" > Return </button>
			<button id="about_return" > Return </button>
			<button id="help_button" > Help </button>
      		<button id="about_button" > About </button>
      		
    	<div id="swears">
      			<p id="swear_count"></p> 
      			<p id="tweet_count"></p>
      	</div
      	
